@model LexiconMVCData.ViewModels.LanguagesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="m-3 w-25">
    <h2>Add Language to Person</h2>
    <form class="form" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="PersonName"></label>
            <input asp-for="PersonName" class="form-control" />
            <span asp-validation-for="PersonName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LanguageName"></label>
            <select asp-for="LanguageIdString" asp-items="Model.Languages"></select>
        </div>
        <div>
            <input type="submit" value="Add Language to Person" class="btn btn-primary mb-2 mr-sm-2" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Language
            </th>
            <th>
                People
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LanguagesWithPersonsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var person in item.People)
                {
                    <partial name="_PersonPartial" for="@person" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
