@model IEnumerable<LexiconMVC.Models.CvItem>

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h2>CV</h2>

<h3>Work experience</h3>
@foreach (var cvItem in Model)
{
    if (cvItem.ItemType == "work")
    {
        <div>
            <h4>@cvItem.Header</h4>
            <p>@cvItem.Description</p>
        </div>
    }

}
<br />

<h3>Education</h3>
@foreach (var cvItem in Model)
{
    if (cvItem.ItemType == "edu")
    {
        <div>
            <h4>@cvItem.Header</h4>
            <p>@cvItem.Description</p>
        </div>
    }

}

