@model LexiconMVCData.Models.City

<div class="row mb-2 mr-sm-2">
    <div class="col-1"> @Html.DisplayFor(model => model.Id)</div>
    <div class="col-3"> @Html.DisplayFor(model => model.Name)</div>
</div>