<div>
    <h2>@ViewBag.Title</h2>

    <div >
        <h2>JQuery with AJAX functions</h2>
        <div id="errorMessages"></div>
        <div >
            <input type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="getAllPersons()" value="Get all people" />

            <label for="PersonIdInputLable" class="mb-2 mr-sm-2">Person ID</label>
            <input id="PersonIdInput" type="number" class="mb-2 mr-sm-2" />

            <input type="button" class="btn btn-primary" onclick="getPersonByID()" value="DetailsForPerson" />
            <input type="button" class="btn btn-primary" onclick="deletePersonByID()" value="Delete" />
        </div>
        
    </div>
    <br />
    <div id="PersonList"></div>
</div>
