
@{
    ViewData["Title"] = "Guessing game";
}

<h1>Guessing game</h1>
<p>Guess a number between 1 and 100</p>



@if (ViewBag.Msg != null)
{
    <h2>@ViewBag.Msg</h2>
}

@if (ViewBag.NumberOfGuesses != null && ViewBag.NumberOfGuesses != 0)
{
    <h3>Number of guesses @ViewBag.NumberOfGuesses</h3>
}

<div>
    <form asp-action="Index" method="post">
        <div>
            <label name="number">Number</label>
            <input type="number" name="number" />
        </div>
        <div>
            <input type="submit" value="Submit guess" />
        </div>
    </form>
</div>



